<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<header th:insert="fragment/header :: header"></header>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Personal Blog Website </h1>

                <p class="lead text-muted"><b>My portfolio</b></p>

                <p class="lead text-muted">Spring framework</p>

                <p class="lead text-muted"> Java 11 Spring Boot (web, data-jpa (hibernate), thymeleaf),
                     MySQL,Maven, Docker, MVC-pattern,Bootstrap,HTML </p>

                <div><b class="lead text-muted">©Vladimir Shchukin 2022</b></div>
            </div>
        </div>
    </section>
</main>
</body>
</html>


