<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Viewing post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<header th:insert="fragment/header :: header"></header>
<div class="container mt-5">
    <div th:each="p:${post}" class="alert alert-info mt-2">
        <h3 th:text="${p.title}"></h3>
        <p th:text="${p.text}"></p>
        <p>
            <b>Views:</b>
            <span th:text="${p.views}"></span>
        </p>
        <br>
        <div>
            <a th:href="'/post/'+${p.id}+'/edit'" class="btn btn-warning">Edit</a>
        </div>
        <br>
        <form th:action="'/post/'+${p.id}+'/remove'" method="post">
            <button class="btn btn-warning" type="submit">Remove</button>
        </form>
    </div>
</div>
<div th:insert="fragment/footer :: footer"></div>
</body>
</html>

